{% extends "base.html.twig" %}

{% block title %}
    MAINTAB
{% endblock %}

{% block imgIcon %}
    <link rel="shortcut icon" href="assets/img/mainIcon5.png" type="image/png">
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="assets/css/TopMenu.css">
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% endblock %}

{% block body %}
<h1>w8</h1>
{% endblock %}
