@font-face {
    font-family: IgraSans;
    src: url("../../../fonts/IgraSans/IgraSans.otf");
}

.menu-common{
    background-color: #161616!important;
    font-family: IgraSans, serif;
}

.ul-menu-common{
}

.dropdown-menu-common{
    width: 100%;
    background-color: #161616!important;
}

.menu-common a{
    color: honeydew!important;
}

.li-menu-common{
    text-align: center;
    margin-left: 65px;
}

a:hover{
    color: #8E0B0B!important;
}