/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

body {
    background: #6ac0bd;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
}

#wrapper {
    text-align: center;
    background-position: center center;
    width: 100%;
    margin-top: 280px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -1px;
}

.cloud {
    position: fixed;
    bottom: 40px;
    left: 20px;
}

.cloud.fliped img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
}

.cloud.pos1 {
    right: 20px;
    left: auto;
    bottom: 70px;
}

.cloud.pos1 img {
    width: 100px;
}

.cloud.pos2 {
    bottom: 150px;
    right: 50px;
    left: auto;
}

.cloud.pos2 img {
    width: 150px;
}

.cloud.pos3 {
    bottom: 200px;
    left: 120px;
}

.cloud.pos3 img {
    width: 180px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    .cloud {
        display: none;
    }
}