<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link href="assets/css/technical/bootstrap.css" rel="stylesheet">
        <link href="assets/css/technical/bootstrap-theme.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/technical/animations.css">
        <link href="assets/css/technical/style.css" rel="stylesheet">
    {% endblock %}
</head>
<body>

<div class="cloud floating">
    <img src="assets/img/technical/cloud.png" alt="Scoop Themes">
</div>

<div class="cloud pos1 fliped floating">
    <img src="assets/img/technical/cloud.png" alt="Scoop Themes">
</div>

<div class="cloud pos2 floating">
    <img src="assets/img/technical/cloud.png" alt="Scoop Themes">
</div>

<div class="cloud pos3 fliped floating">
    <img src="assets/img/technical/cloud.png" alt="Scoop Themes">
</div>

<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Печать прошла успешно</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Спасибо что возспользовались нашим сервисом</h4>
            </div>
        </div>
    </div>
</div>

</body>
</html>
