<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block imgIcon %}{% endblock %}

</head>
<body>
git info is {{ dump(res) }}, {{ dump(command) }}
</body>
</html>
