body{
    background: url("../../../img/default/back.jpg") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
h1 a:hover{
    color: #ffe; /* Цвет текста активного пункта */
    background-color: #5488af; /* Цвет фона активного пункта */
}
#infoAbout{
    display: none;
}
#infoAbout2{
    display: none;
}
.Human{
    padding:0;
    border:1px solid white;
}
.Human:hover{
    cursor: pointer;
}
.Elf{
    padding:0;
    border:1px solid white;
}
.Elf:hover{
    cursor: pointer;
}
.info{
    transition: height 350ms ease 0s;
    background-image: url("https://media.dnd.wizards.com/styles/mosaic_background/public/images/mosaic/NEW_TO_DD_Races_Human_InlineR_140630.jpg");
    height: 410px;
}