{% extends "base.html.twig" %}

{% block title %}
    AUTH
{% endblock %}

{% block imgIcon %}
    <link rel="shortcut icon" href="assets/img/mainIcon5.png" type="image/png">
{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="assets/css/MainScreenStyle.css"/>
    <link type="text/css" rel="stylesheet" href="assets/css/MainClassAdaptation.css"/>
{% endblock %}

{% block javascripts %}
    {# <script type="text/javascript" src="assets/js/test.js"></script> #}
{% endblock %}

{% block body %}
        {{ form(form) }}

{% endblock %}
