{% block imgIcon %}
    <link rel="shortcut icon" href="assets/img/mainIcon5.png" type="image/png">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/core/menu/menu.css">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-md bg-light navbar-light menu-common">
        <a class="navbar-brand" href="/">DND</a>
        <ul class="navbar-nav ul-menu-common">
            {% for key in menu['menu'] %}
                <li class="nav-item li-menu-common{% if key['code'] == 'info' or key['code'] == 'generate' %} dropdown{% endif %}">
                    <a class="nav-link{% if key['code'] == 'info' or key['code'] == 'generate' %} dropdown-toggle{% endif %}" {% if key['code'] == 'info' or key['code'] == 'generate' %}
                        href="/{{ key['link'] }}" id="navbardrop" data-toggle="dropdown"{% endif %} href="/{{ key['link'] }}">{{ key['title'] }}</a>
                    {% if key['code'] == 'info' or key['code'] == 'generate' %}
                        <div class="dropdown-menu dropdown-menu-common">
                            {% for keysubmenu in menu['submenu'] %}
                                {% if key['code'] == keysubmenu['code'] %}
                                    <a class="dropdown-item"
                                       href="/{{ keysubmenu['link'] }}">{{ keysubmenu['title'] }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>

{% endblock %}
