body {
    background: url("../../../img/core/error/monkeynotfound.jpg") no-repeat;
    /*background: url("../../../img/default/back.jpg") no-repeat;*/
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.container-content {
    position: absolute;
    bottom: 15%;
    left: 29%;
}

.content {
    height: auto;
    width: auto;
    text-align: center;
    font-family: Italic, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

