{% extends 'base.html.twig' %}

{% block title %}
    Страница не найдена
{% endblock %}

 {% block stylesheets %}
     <link href="assets/css/core/error/error.css" rel="stylesheet">
 {% endblock %}

{% block imgIcon %}
    <link rel="shortcut icon" href="assets/img/core/error/dicerollone.png" type="image/jpg">
{% endblock %}

{% block body %}

    <div class="container container-content">
        <div class="row">
            <div class="col-6 col-sm-3"></div>
            <div class="content">
                <h3>Ты провалил спасбросок Внимательности </h3>
            </div>
        </div>
    </div>

{% endblock %}
