{% extends "base.html.twig" %}

{% block title %}
    Расы
{% endblock %}

{% block imgIcon %}

{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="assets/css/app/race/race.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="assets/js/Race/Race.js"></script>
{% endblock %}

{% block body %}
    {{ include('/app/dnd/menu/menu.html.twig') }}

<div class="container">
  <div class="row">
    <div class="col-md-6 Human" style="padding:0; border:1px solid white;">
      <img class="w-100" src="https://media.dnd.wizards.com/styles/mosaic_thumbnail/public/images/mosaic/NEW_TO_DD_Races_Human_T_140527.jpg" alt="Human" width="100%" height="100%">
      <div class="position-absolute text-bottom-left" style="bottom: -20pt; left: 10pt; right: 0; transform: translateY(-50%);">
        <h1>Human</h1>
      </div>
        </div>
       <div class="col-md-6 Elf" style="padding:0; border:1px solid white;">
       <img class="w-80" src="https://media.dnd.wizards.com/styles/mosaic_thumbnail/public/images/mosaic/NEW_TO_DD_Races_Elf_T_140616.jpg" alt="Elf" width="100%" height="100%">
        <div class="position-absolute text-bottom-left" style="bottom: -20pt; left: 10pt; right: 0; transform: translateY(-50%);">
         <h1>Elf</h1>
        </div>
        </div>
  
   
  </div>
   <div id="infoAbout">  
    <div class="row">
          <div class="info">K9KRQjQERJvTumQW0nPEzvF6LK9KRQjQERJvTumQW0nPEzvF6LK9KRQjQERJvTumQW0nPEzvF6LK9KRQjQERJvTumQW0nPEzvF6LK9KRQjQERJvTumQW0nPEzvF6L</div>
      </div>
      </div>
      <div id="infoAbout2">  
    <div class="row">
          EFIOPJD
      </div>
      </div>
</div>  
  </div>
</div>


{% endblock %}
